.graficos {
  width: 600px;
  height: 600px;
  position: relative;
  padding: 0;
}

#chart-container {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  width: 500px;
  height: 500px;
  top:10px;
  right: 10px;
  left: 10px;
  transform: scale(.3);
  
  
}
