* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0;
    width: device-width;
    
}

.encabezado {
    width: 100%;
    height: 400px;
    background: linear-gradient(90deg, rgba(2, 43, 146, 0.574) 9%, rgba(6, 6, 213, 0.443) 51%, rgba(2, 0, 36, 0.778) 87%), url(/img/fondo.png);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    
}

.foto img {
    height: 260px;
    width: 260px;
    border: solid 7px #ffffff;
    border-radius: 50%;
    display: block;
    object-fit: cover;
    margin-top: 20px;
    transition: transform .5s;
    transform: scale(1);

}

.foto:hover img {
    transition: transform .5s;
    transform: scale(1.15);
    box-shadow: 0px 0px 12px 10px rgba(0, 0, 0, 0.357);
}

.foto {
    display: flex;
    width: 28%;
    justify-content: flex-end;
    align-items: center;
}

.perfil {
    width: 100%;
    display: flex;
    position: absolute;

}

.nombre {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.nombre h1{
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    -webkit-text-stroke: 0.5px rgb(2, 0, 36) 3%;    
    text-shadow: 7px 7px 7px rgb(1, 3, 46);
}

h1:hover{
    transition: transform .5s;
    transform: scale(1.1);
    text-shadow: 7px 7px 7px rgb(3, 4, 21);
    
}

.nombre h2{
    font-size: 24px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-text-stroke: 0.5px rgb(2, 0, 36) 3%;    
    text-shadow: 7px 7px 7px rgb(1, 3, 46);
}


.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.indicador {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    position: fixed;
    right: 0;
    z-index: 5;

}

.indices {
    border-radius: 50rem 0 0 50rem;
    display: grid;
    grid-template-columns: 18% 25% 25% 25%;
    justify-content: center;
    align-items: center;
    background-color: hsla(240, 51%, 10%, 0.802);
    width: 500px;
    height: 40px;
}

.indices a {
    display: flex;
    justify-content: center;
    margin: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.indices a:hover {
    text-decoration: underline;
    font-size: 18px;
    color: rgb(223, 193, 193);
}

#contenedor {
    width: 100%;
    height: 600px;
}

#contenedor {
    padding: 0 15%;
}

.perfil-imagen img {
    width: 430px;
    box-shadow: 0 0 60px 0 back;
}

.perfil-imagen:hover img {
    transition: transform .5s;
    transform: scale(1.1);
}

.perfil-profesional {
    display: flex;
    margin-top: 10px;
    align-items: center;
}

#perfil-texto {
    display: flex;
    width:70%;
    flex-direction: column;
    text-align: justify;
    
}

.perfil-imagen {
    display: flex;
    width: 38%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.title {
    padding-left: 8px;
    display: flex;
    align-items: center;
    background-color: rgb(39, 39, 170);
    height: 30px;
    width: 300px;
    border-radius: 0 50rem 50rem 0;
    margin-bottom: 10px;
}

video {
    width: 300px;
}

h4 {
    color: white;
    font-size: 23px;
    -webkit-text-stroke: 0.5px rgb(2, 0, 36) 3%;    
    text-shadow: 2px 2px 4px rgb(1, 3, 46);
}

.title:hover {
    transition: transform .5s;
    transform: scale(1.1);
    background-color: #010b8b;
    text-shadow: 2px 2px 4px rgb(2, 3, 16);
    
}

p {
    padding: 25px;
    font-size: 20px;
    background-color: rgba(59, 170, 39, 0.866);
    border-radius: 40% 30rem 20rem;
}

.icono{
    width: 45px;
    height: 45px;
    overflow: hidden;
    margin: 12px;
    position: relative;
    cursor: pointer;
    border-radius: 50rem;
    border: solid 2px white;
}
.icono img {
    width: 100%;
    height: 100%;       
}

.icono:hover {
    transition: transform .5s;
    transform: scale(1.3);
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.357);
}



.contactos {
    display: grid;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.title-1 {
    margin-top: 60px;
    margin-left: 93px;
    border-radius: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30PX;
    background-color: rgb(39, 39, 170);
    width: 80%;
}

.title-1:hover {
    transition: transform .5s;
    transform: scale(1.2);
    background-color: #010b8b;
    
}

.exp {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    padding-top: 80px;
    transform: scale(1);
}

.exp.exp1{
    transition: transform .5s;
    transform: scale(0);
}


#experiencia {
    margin: 12px 0;
    position: relative;
    width: 100%;
    height: 380px;
    overflow: hidden;
}


.texto-experiencia {
    width: 100%;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 40% 60%;
    position: absolute;
    top: 100px;
    transition: transform .5s;
    transform: scale(0);
}

.texto-exp {
    margin-top: 60px;
}

#titulo-exp img {
    width: 100px;
    height: 100px;
}

.texto-experiencia.clase-cambio{
    transition: transform .5s;
    transform: scale(1);
}

.linea {
    width: 100%;
    height: 4px;
    background-color: rgb(59, 170, 39);
    position: absolute;
    top:228px;
    transition: transform .5s;
    transform: scale(1);
}

.linea.remover {
    transition: transform .5s;
    transform: scale(0);
}

.logos-experiencias {
    background-color: white;
    width: 120px;
    height: 120px;
    border-radius: 50rem;
    border: solid 4px rgb(59, 170, 39);
    cursor: pointer;
    transition: transform .5s;
    transform: scale(1);
}

.logos-experiencias.remover {
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50rem;
    border: solid 1px rgb(59, 170, 39);
    cursor: pointer;
    margin-right: 10px; 
    transition: transform .5s;
    transform: scale(0);
    
}

.logos-experiencias:hover {
    transition: transform .5s;
    transform: scale(1.3);
    box-shadow: 0px 0px 16px 10px rgba(0, 0, 0, 0.357);
}

.logos-experiencias img {
    width: 100%;
    height: 100%;
    border-radius: 50rem;
    
    
}
.exper {
    margin: 20px;
    width: 44%;
    overflow: hidden;
}

.exper img {
    width: 100%;
}

h5 {
    color: black;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}


.contenido {
    width: 120px;
    border: solid 2px black;
    background-color: blanchedalmond;
    margin-top: 10px;
}

.contenido.cambio {
    color: white;
    border: solid 2px yellow;
    background-color: red;
    transform: scale(0);
}

.back {
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    position: absolute;
    width: 100px;
    height: 30px;
    border: solid 3px white;
    border-radius: 50rem;
    background-color: rgb(59, 170, 39);
    top: 105px;
    right: 30px;
    transition: transform .5s;
    transform: scale(0);
    cursor: pointer;
    
}

.back.appear {
    transition: transform .5s;
    transform: scale(1);
}

.back:hover {
    transition: transform .5s;
    transform: scale(1.2);
    box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.357);
}